# AmBot M7 multi-network example

# Global defaults inherited by following NETWORK sections.
OWNER=MyNick
HOOK_DIR=REXX:AmBot
MODULE_DIR=REXX:AmBot/Modules

[NETWORK libera]
HOST=irc.libera.chat
PORT=6667
NICK=AmBot
USER=ambot
CHANNEL=#amiga
HOOK_DIR=REXX:AmBot/Libera
MODULE_DIR=REXX:AmBot/Modules/Libera

[NETWORK via-ambnc]
HOST=irc.example.net
PORT=6667
NICK=AmBot2
USER=ambot2
CHANNEL=#bots
UPSTREAM=AMBNC
AMBNC_HOST=127.0.0.1
AMBNC_PORT=6697
HOOK_DIR=REXX:AmBot/AmBNC
MODULE_DIR=REXX:AmBot/Modules/AmBNC
